{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		"no-restricted-syntax": "off"
	},
	"ignorePatterns": ["dist"],
	"env": {
    "browser": true
  }
}
